
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: azure;
  cursor: grabbing;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-wrap: wrap;
  overflow: hidden;
}

.container span{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20px;
  min-width: 20px;
}

.container span::before{
  content: "";
  position: absolute;
  background: url(https://scontent.fceb6-1.fna.fbcdn.net/v/t39.30808-6/475380845_2059014434571508_7941311524224391757_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeE0nBJIodZoD6JPJ1oiSa1b6K1KDvRwbt_orUoO9HBu394qRrqg-ynMiFY3vdDW7PP5s42bpwhRhoLz27zWOapa&_nc_ohc=xb6NerOKODwQ7kNvgFpkd8y&_nc_zt=23&_nc_ht=scontent.fceb6-1.fna&_nc_gid=A2J74IgjuADgYDqKaHJf9Fk&oh=00_AYBZ76G_FgJe80nnKjYfhYjiBuzaR2m0znBv8gOE3R7ECw&oe=67A4FB2D);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  transition: 20s;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.container span:hover::before{
  transition: 0s;
  opacity: 1;
  width: 1000%;
  height: 1000%;
}